{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module"
    },
    "extends": "eslint:recommended",
    "env": {
      "browser": true,
      "jquery": true
    },
    "rules": {
        "semi": 1,
        "indent": ["warn", 4],
        "no-console": "warn",
        "no-debugger": "warn",
        "no-undef": "warn"
        //not a good idea to leave "no-undef" as a warning forever
    }
}